{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block header %}
    <h1>Congratulations!</h1>
    <div class="progress">
       <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Result info for '{{ result.test }}'</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Started at</td>
                        <td>{{ result.create_date }}</td>
                      </tr>
                      <tr>
                        <td>Finished at</td>
                        <td>{{ result.write_date }}</td>
                      </tr>
                      <tr>
                        <td>User</td>
                        <td>{{ result.user }}</td>
                      </tr>
                      <tr>
                        <td>Points</td>
                        <td>{{ result.points }}</td>
                      </tr>
                      <tr>
                        <td>Success rate</td>
                            <td>
                                {% expr '%1 / %2 * 100' result.num_correct_answers result.test.questions_count as progress_correct %}
                                {% expr '%1 / %2 * 100' result.num_incorrect_answers result.test.questions_count as progress_incorrect %}

                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width:{{ progress_correct }}%" aria-valuenow="{{ progress_correct }}" aria-valuemin="0" aria-valuemax="100">{{result.score}}</div>
                                    <div class="progress-bar bg-danger" role="progressbar" style="width:{{ progress_incorrect }}%" aria-valuenow="{{ progress_incorrect }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                        </td>
                      </tr>
                      <tr>
                        <td>Time spent</td>
                        <td>{{ result.time_spent }}</td>
                      </tr>
                      <tr>
                        <td>Score</td>
                        <td>{{ result.num_correct_answers }} / {{ result.num_incorrect_answers }}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>

            <div class="col-sm">
                <div class="d-flex justify-content-center">
                    <img class="rounded-circle p-1 m-1" width="350" height="350"  src="https://cdn3.iconfinder.com/data/icons/achievement-1/512/goal-success-achievement-05-512.png">
                </div>

            </div>

        </div>
    </div>

{% endblock %}
