{% extends 'base.html' %}

{% block header %}
    <h1>Leaderboard</h1>
{% endblock %}

{% block content %}

<table class="table table-hover">
          <tr style="background:black; color:white">
            <th>#</th>
            <th></th>
            <th>User</th>
            <th>Rating</th>
          </tr>
    {% for user in users %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td> <img class="rounded-circle" src="{{ user.image.url }}" width="50" height="50"></td>
            <td>{{ user }}</td>
            <td>{{ user.rating }}</td>
        </tr>
    {% endfor %}

</table>

{% endblock %}
