{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block greetings %}
    <h1 class="display-1"  style="text-align:center; color:red;">Update Profile</h1>
{% endblock %}

{% block content %}
    <div class="container">
             <form method='post' enctype="multipart/form-data">
                  {% csrf_token %}

                    <div class="media">
                        <div class="img-circle.vert">
                            <img class="rounded-circle p-1 m-1" width="200" height="200"  src="{{ user.image.url }}">
                        </div>
                        <div class="media-body  p-3 m-3">
                            <h2 class="account-heading">{{ user.username }}</h2>
                            <h3 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h3>
                            <p class="text-secondary">{{ user.email }}</p>
                        </div>
                    </div>
                 <display>Results</display>
             <table class="table table-striped table-hover">
                  <tr>
                    <th>#</th>
                    <th>Test</th>
                    <th>Create date</th>
                    <th>Write date</th>
                    <th>User</th>
                    <th>Points</th>
                    <th>State</th>
                  </tr>
                {% for result in user.results.all %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ result.test }}</td>
                        <td>{{ result.create_date }}</td>
                        <td>{{ result.write_date }}</td>
                        <td>{{ result.user }}</td>
                        <td>{{ result.points }}</td>
                        <td>{{ result.get_state_display }}</td>
                      </tr>
                {% endfor %}

            </table>
                    {{ form|crispy }}

                  <input class="btn btn-success btn-lg mt-2" type="submit" value="Save">
                    <a class="btn btn-danger btn-lg mt-2" href="{% url 'accounts:profile_delete'  %}" role="button">Delete</a>
             </form>

    </div>
{% endblock %}
