{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


{% block title %}
        <title>Quiz</title>
{% endblock %}

</head>
<body>

<div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid" style="margin-left:50px">
        <a class="navbar-brand" href="{% url 'index' %}">Quiz</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'accounts:leaders' %}">Leaders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'tests:list' %}">Tests</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <ul class="navbar-nav ">

              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
              </li>

                {%  if user.is_authenticated %}
                    <li class="nav-item">
                        <img alt="Profile pic" width="35" height="35" class="rounded-circle" src="{{ user.image.url }}">
                    </li>

                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:profile' %}">Profile ({{ user.username }})</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:logout' %}">Log out</a>
                      </li>

                {% else %}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:registration' %}">Register</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                      </li>
                {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">
            {% include 'includes/messages.html' %}

            <div class="border rounded text-center p-3 m-3 mb-5 shadow">
                {% block header %}
                    <h1>
                        Welcome to Quiz!!!
                    </h1>
                {% endblock %}
            </div>

            {% block content %}
            {% endblock %}
      </div>


</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
</html>